#caja {
  -fx-background-color: rgb(5, 133, 87);
  background-color: rgb(5, 133, 87);
}

.ventanaElegida {
  -fx-background-color: rgb(255, 234, 206);
  background-color: rgb(229, 211, 188);
}

.cajaTexto {
  -fx-background-radius: 0 10 0 10;
  -fx-border-radius: 0 10 0 10;
  border-radius: 0;
}

.boton {
    
  -fx-background-radius: 30 30 30 30;
  -fx-border-radius: 30 30 30 30;
  border-radius: 0;


  -fx-text-fill: rgb(255, 255, 255);
  
  -fx-background-color: rgb(5, 133, 87);
  background-color: rgb(5, 133, 87);
  -fx-border-color: rgb(5, 133, 87);;
  border-color: rgb(5, 133, 87);
  
}

.button:hover {
  -fx-background-color: rgb(5, 110, 72);
  background-color: rgb(5, 110, 72);
  -fx-border-color: rgb(5, 110, 72);
  border-color: rgb(5, 110, 72);
}


.adoptarAnimal{
  -fx-background-color: rgb(207, 191, 169);
  background-color: rgb(5, 133, 87);
}


#panelBusqueda{
  -fx-background-color: rgb(255, 255, 255);
  -fx-background-radius: 30 30 30 30;
  background-color: 0;
}

.trasparent{
  -fx-background-color: rgba(0, 0, 0, 0);
  background-color: 0;
}

.scrollPane{
  -fx-background: rgb(255, 234, 206);
  -fx-border-color: rgb(255, 234, 206);
  background: 0;
  border-color: 0;
}

#panelAnimalSeleccionado{
  -fx-background-radius: 30 30 30 30;
  -fx-background-color: rgb(255, 255, 255);
  background-color: 0;

}


.sombra{
  -fx-effect: dropShadow(three-pass-box, rgba(0,0,0,0.1), 10.0, 0.0, 0.0, 10.0);
}

.animal{
  -fx-background-radius: 30 30 30 30;
  -fx-background-color: white;
  background-color: 0;
}

#botonAnimal:hover{
  -fx-background: rgb(211, 211, 211);
  background: 0;
}


.animal:hover{
  -fx-background-color: rgb(238, 238, 238);
  background-color: 0;
}

/* 5, 133, 87
/* 229, 211, 188
/* 5, 110, 72
/* 255, 234, 206

